/* calendar.css 
.calendar {
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: large;
}

.month-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

.day-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-bottom: 1px solid var(--color-gray-300);
    padding:0.5rem 0.5rem 4.5rem;
    margin: 0;
}

.days {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    text-align: center;
    font-weight: 500;
    padding: 0.5rem 0;
}

.day-list-wrap {
    position: relative;
    overflow: visible;
    height: auto;
}

.month-calendar-day-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 200px;
    gap: 0;
    margin: 0;
    padding: 0;
}

.month-calendar-day {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    min-height: 100px;
}

.month-calendar-day:nth-child(7n) {
    border-right: none;
}

.month-calendar-day-label {
    color: var(--color-text-dark);
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: right;
    font-weight: 500;
}

.month-calendar-day-event {
    flex-grow: 1;
    padding: 0.25rem;
}

Days from other months 
.month-calendar-day-label[style*="opacity"] {
    color: var(--color-gray-400);
}*/