.form-fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.form-split{
    display: flex;
    gap: 1rem;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-split .form-field{
    flex: 1;
}
.form-label{
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}
.input{
    font-size: var(--font-size-sm);
    font-weight: 400;
    background-color: transparent;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-gray-500);
    padding: 0.4rem 0.75rem;
   
}