.calender1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: large;
}
.month-calender{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.day-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,minmax(0, 1fr));/*build block for 7 blocks for day*/
    border-bottom:1px solid var(--color-gray-300) ;
    padding: 0.75rem 0;
}
.days{
    font-size:var(--font-size-md);
    line-height: var(--line-height-md);
    text-align: center;
    font-weight: 500;
}
.day-list-wrap{
    position: relative; /* not absolute */
    overflow: visible;  /* or scroll if you prefer scrolling */
    height: auto; /* let it grow with content */
    min-height: 100%; /* optional, if you want it always fill minimum height */

}
.month-calender-day-list{
    list-style: none;
    display: grid; 
    grid-template-columns: repeat(7, 1fr); /* 7 days */
    grid-auto-rows: 200px; /* or however tall you want each row */
    gap: 4px; /* space between days */
    overflow-y: auto;
    inset: 0;
}

.month-calender-day{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-gray-300);
    border-bottom: 1px solid var(--color-gray-300);
    
}
.month-calender-day:nth-child(7n) {
    border-right: none;
}
.month-calender-day-label{
    color: var(--color-text-dark);
    width: 100%;
    padding: 0.5rem 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}